.jtcolor{
    background-color: coral;
    color: white;
    text-align: center;
}

select, input{
    width: 100%;
}

#main-form{
    border: solid;
    border-color: salmon;
}

#articles{
    border: solid;
    border-color: black;
}